In [8]:
import pandas as pd
import numpy as np
import matplotlib as plt
import sqlite3 as sql

In [25]:
from sqlite3 import connect
!pip3 install psycopg2-binary;

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.8/site-packages (2.9.3)

ValueError: Table 'test_data' already exists.

In [32]:
pd.read_sql_table('retail', con, schema=None, index_col=None, coerce_float=True, parse_dates=None, columns=None, chunksize=None)

NotImplementedError: read_sql_table only supported for SQLAlchemy connectable.